<div class="col-12 col-sm-6">
    <h3>Listado Fuertes</h3>
    <ul>
        @for(char of characters(); track char.id; let idx = $index)
        {
        @if(char.power > 500)
        {
        <li>
            <span>{{ idx + 1 }} - {{ char.name }}</span>
            <strong [class.text-danger]="char.power > 9000" [class.text-primary]="char.power < 9000">
                ({{ char.power }})</strong>
        </li>
        }@else{
        <li>Personaje con poder < de 9000</li>
        }
        }
    </ul>
</div>